* {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.shape {
  height: 200px;
  width: 200px;
  rotate: 30deg;
  z-index: -1;
  background-color: green;
  opacity: 0.06;
  position: absolute;
  border-radius: 5px;
}

.logo {
  font-weight: normal;
  margin: 0;
  margin-top: 70px;
}

.slogan {
  color: #666;
  margin-top: 8px;
  margin-bottom: 20px;
}

.input-wrapper {
  display: "flex";
  margin-bottom: 20px;
  padding-bottom: 2px;
}

.one {
  border: 1.5px #eaeaea solid;
  border-right: unset;
  background-color: #f7f7f7;
  padding: 16px 10px;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
}

input {
  border: 0;
  border-top: 1.5px #eaeaea solid;
  border-bottom: 1.5px #eaeaea solid;
  width: 26em;
  background-color: #f7f7f7;
  padding: 15.5px 5px;
  font-size: 16px;
}

input::placeholder {
  color: #777;
}

input:hover,
input:focus {
  outline: none;
}

.two {
  background-color: #f7f7f7;
  padding: 16px 10px;
  border-top: 1.5px #eaeaea solid;
  border-bottom: 1.5px #eaeaea solid;
}

.search-button {
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  color: #fff;
  border: 0;
  padding: 16px 15px;
  width: 100px;
  background-color: #466d1d;
  font-size: 16px;
  cursor: pointer;
  border: 1px #466d1d solid;
  border-left: unset;
}

.search-button:focus {
  outline: 3px solid lightblue;
}

.button2 {
  outline: none;
  font-size: 14px;
  color: white;
  background-color: #013220;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  margin: 5px 10px;
  cursor: pointer;
  width: 175px;
}

.search-button:hover,
.button2:hover {
  opacity: 0.85;
}

.button2:focus {
  outline: 4px solid lightblue;
}

.history-wrapper {
  margin: 20px auto;
  width: 35em;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1.5px solid #eaeaea;
}

.history-wrapper > p {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1.5px solid #eaeaea;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  color: #999;
  user-select: none;
}

.history {
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
  height: 90px;
  margin: 3px 0;
}

.history-item {
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #cdcdcd;
  margin: 5px 10px;
  border-radius: 5px;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 5px 0;
}

.history-item p {
  padding-left: 10px;
}

.history-item:hover {
  background-color: #f3f3f3;
}

.results {
  margin: 20px auto;
  width: 35em;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 1.5px solid #eaeaea;
  margin-bottom: 50px;
}

.results > p {
  padding: 5px 0;
  margin: 0;
  border-bottom: 1.5px solid #eaeaea;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  color: #999;
  user-select: none;
}

.results-list {
  min-height: 50px !important;
}

.loader {
  color: #bbb;
  margin: 15px 0;
}

.recipe {
  display: flex;
  background-color: #fff;
  margin: 10px auto;
  padding: 15px 0;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #cdcdcd;
  width: 34em;
}

.recipe-id {
  padding: 0 10px;
  padding-right: 5px;
  border-right: 1px solid #cacaca;
  width: 50px;
  margin-right: 15px;
  color: #888;
}

.clear-input-button {
  position: relative;
  top: 4.5px;
  padding: 0 7.5px;
  cursor: pointer;
}

.recipe:hover {
  background-color: #f3f3f3;
}

.error {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 10px 10px;
  border: 1.5px solid #eee;
}
