* {
  font-family: sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.logo {
  margin: 0;
  margin-top: 90px;
  /* font-size: 35px; */
}

.heading {
  /* padding-bottom: 20px; */
  /* user-select: none; */
}

.project {
  background-color: #fff;
  min-width: 150px;
  font-size: 14px;
}

.project:hover {
  background-color: #f3f3f3;
}

.search:hover {
  border-color: #e2e2e2 !important;
}

.search-btn:hover,
.button2:hover {
  opacity: 0.85;
}
