* {
  font-family: sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.logo {
  margin: 0;
  margin-top: 90px;
  /* font-size: 35px; */
}

.heading {
  /* padding-bottom: 20px; */
  /* user-select: none; */
}

.project {
  background-color: #fff;
  min-width: 150px;
  font-size: 14px;
  border: 1px solid #cdcdcd;
  min-width: 200px !important;
  margin: 5px 5px;
  padding: 0 10px;
  border-radius: 12px;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0 10px;
}

.project:hover {
  background-color: #f3f3f3;
}

.search:hover {
  border-color: #e2e2e2 !important;
}

.search-btn:hover,
.button2:hover {
  opacity: 0.85;
}

.button2 {
  font-size: 16px;
  color: white;
  background-color: #013220;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  width: 190px;
}

.search-button {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 18px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100px;
  background-color: #466d1d;
  margin: 0;
}